* {
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.logo_text {
    font-family: "Roboto";
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-top: 64px;
    margin-bottom: 40px;
}

.logo_text_special {
    color: #4BCAFF;
}

.menu_header {
    display: flex;
    justify-content: center;
    background-color:#35444F;
}

.menu_list { 
    display: flex;
    border-left: #FFFFFF solid 1px;
    border-right: #FFFFFF solid 1px;
}

.menu_list_item {
    display: flex;
    border-right: #FFFFFF solid 1px;
}

.menu_list_link {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-right: 36px;
    padding-left: 36px;
}

.menu_list_link:hover {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-right: 36px;
    padding-left: 36px;
    background-color:#222F3A;
    ;
}

.main_container {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.menu_aside {
    display: flex;
    border: #000 solid 1px;
    height: 417px;
    margin-right: 49px;
}
.menu_list_aside {
    display: flex;
    flex-direction: column;
}

.menu_list_item_aside {
    display: flex;
}

.menu_list_link_aside {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 44px;
    width: 344px;
    font-family: 'Roboto';
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;  
}

.menu_list_link_aside:hover {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 68px;
    width: 344px;
    font-family: 'Roboto';
    font-size: 27px;
    line-height: 27px;
    color:#000000;
    text-decoration: none;
    background-color: #DBDBDB;
}

.main_block {
    display: flex;
    flex-direction: column;
}

.img_block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000 solid 1px;
    height: 529px;
    width: 885px;
    margin-bottom: 37px;
}

.desc {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.copyright {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 24px;
    color: #010101
}

.menu_footer {
    display: flex;
    justify-content: center;;
}

.menu_list_footer {
    display: flex;
}

.menu_list_item_footer {
    display: flex;
}

.menu_list_link_footer {
    color:#0C1927;
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 24px;
}

.menu_list_link_footer:hover {
    color:#3181A6;
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 28px;
    text-decoration: underline;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#63696E7A;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}